/* .title {
  /* display: flex; */
  /*align-items: top;*/
  justify-content: center;
}

h1,
h2 {
  font-family: sans-serif;
  text-align: center;
  color: black;
}
.logo {
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 96vh;
  background: linear-gradient(to top left, #5e0674, #c0ceee);
  display: block;
  justify-content: center;
} */

*{
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: aqua;
  font-weight: 500;
  margin: 1rem;
}
h1{
  background-color: red;
  width: 20rem;
  padding: 1rem;
  border: 1px solid  black;
  border-radius: 30px;
  text-align: center;
  margin: 2rem auto;
}
.header{
  background-color: rgb(24, 209, 24);
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
/* css vıewer https://chrome.google.com/webstore/detail/cssviewer/ggfgijbpiheegefliciemofobhmofgce?hl=en */

.navbar{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(13, 27, 150);
}
.navbar a{
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
}
.navbar a:hover{
  background-color: rgb(207, 193, 193);
}